spring:
  config:
    import:
      - optional:configserver:http://${CONFIG_SERVER_URL:localhost}:8888
  application:
    name: user-service
  data:
    redis:
      host: localhost
      port: 6379

  cache:
    type: redis