eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://${EUREKA_HOSTNAME:eureka-server}:8761/eureka/
name:
  value: carbon_credit_marketplace
spring:
  cloud:
    config:
      override-system-properties: false

management:
  tracing:
    sampling:
      probability: 1.0